# Node.js API (.tattooStudio-api)
tattooStudio-api/node_modules/
tattooStudio-api/package-lock.json
tattooStudio-api/.env
tattooStudio-api/dist/ 

design

# React App (.tattooStudio)
tattooStudio/node_modules/
tattooStudio/build/
tattooStudio/package-lock.json
tattooStudio-api/uploads/

# System files
.DS_Store
Thumbs.db
*.log

# IDE files
.idea/ 
.vscode/